<%- include("./partials/header.ejs"); %>

    <link rel="stylesheet" type="text/css" href="/css/subscribe.css" />

    <%- include("./partials/navbar.ejs"); %>
    
    <main>
        <form action="/save-profile" method="POST" autocomplete="off">
            <div id="div-form">
                <h1 id="title">Inscrever-se</h1>
                <div class="input-container">
                    <input type="text" name="name" placeholder=" " required />
                    <label class="floating-placeholder">Nome</label>
                </div>
                <div class="input-container">
                    <input type="text" name="surname" placeholder=" " required />
                    <label class="floating-placeholder">Sobrenome</label>
                </div>
                <div class="input-container">
                    <input type="email" name="email" placeholder=" " required />
                    <label class="floating-placeholder">Email</label>
                </div>
                <div class="input-container">
                    <input type="text" name="birthDate" onfocus="this.type='date'" onblur="this.type='text'" placeholder=" " required />
                    <label class="floating-placeholder">Data de Nascimento</label>
                </div>
                <div class="input-container">
                    <select name="state" id="estado" onchange="populate(this.id, 'cidade')">
                        <option selected disabled>-- selecione --</option>
                        <option value="MA">Maranhão</option>
                        <option value="PI">Piauí</option>
                    </select>
                    <label for="state">Estado</label>
                </div>
                <div class="input-container">
                    <select name="city" id="cidade">
                        <option disabled selected>-- selecione --</option>
                    </select>
                    <label for="city">Cidade</label>
                </div>
                <div id="div-buttons">
                    <button type="submit" id="btn-submit">Enviar</button>
                </div>
            </div>
        </form>
    </main>

    <script src="/scripts/changeFormSelect.js"></script>

<%- include("./partials/footer.ejs"); %>