main {
    padding: 1rem;
}

#div-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#div-form input[type="text"] {
    width: 100%;
    
    border-radius: 10px;
    border: none;
    padding: 1rem;
    
    display: block;

    font-size: 15px;
    
    outline: none;
}

#article-title {
    font-size: 20px !important;
    font-weight: bolder;
}

#div-form-file {
    text-align: center;
}

#div-form-buttons {
    margin: 1rem 0;

    display: flex;
    justify-content: center;
}

#div-form-buttons button {
    width: 300px;
    max-width: 100%;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 2.5px black;
    padding: 1rem 2rem;
    
    background-color: var(--background-dark);
    color: white;
    
    font-size: 17.5px;
    font-weight: bolder;
    
    cursor: pointer;
    
    transition: background 200ms;
}

#div-form-buttons button:hover {
    background-position: 25% 0%;
}